{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "semi": false,
    "endOfLine": "auto",
    "tabWidth": 2,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "trailingComma": "none"
  }
  